@use '/node_modules/modern-normalize/modern-normalize.css';

// ! welcome to flexbox hell.
// * can you tell i only use flexbox instead of other display methods like grid? ha... ha...
// * i'll try to not only use flexbox.

@font-face {
	font-family: 'Classic Console Neue';
	font-style: normal;
	src: url('/System/ImportantFiles/Fonts/classic-console-neue/clacon2.woff2');
}

@font-face {
	font-family: 'PX Sans Nouveaux';
	font-style: normal;
	src: url('/System/ImportantFiles/Fonts/px-sans-nouveaux/px_sans_nouveaux.ttf');
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	src: url('/System/ImportantFiles/Fonts/ubuntu-mono/UbuntuMono-Regular.ttf');
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	src: url('/System/ImportantFiles/Fonts/fira-sans/FiraSans-Regular.ttf');
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	border: 0 solid;
	user-select: none;
	overscroll-behavior: none;
}

*::-webkit-scrollbar {
	display: none;
}

ol,
ul,
menu {
	list-style: none;
}

a {
	cursor: pointer;
	text-decoration: underline;
	width: auto;
}

// 1rem = 16px

.errorpage {
	color: white;
	height: 100%;
	width: 100%;
	font-family: 'Classic Console Neue';
	font-size: 20px;

	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;

	&_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-inline: 400px;
		gap: 16px;
	}

	&_title {
		background-color: silver;
		align-self: center;
		padding-inline: 12px;
	}
}

.bootscreen {
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	padding: 24px;

	font-family: 'Classic Console Neue';
	font-size: 20px;
	line-height: 28px;

	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&_title {
		display: flex;
		gap: 20px;
	}

	&_optionsContainer {
		margin-block: 32px;
		height: calc(100% * 2 / 3);
		width: 100%;
		padding: 8px;
		border: 2px solid white;
		&:hover {
			cursor: pointer;
		}
	}

	&_option {
		display: flex;
		gap: 4px;
		padding-inline: 16px;
	}

	&_optionSelect {
		background-color: white;
		color: black;
	}

	&_arrow {
		visibility: hidden;
	}
}

.bootprepare {
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	padding: 24px;
	cursor: none;

	font-family: 'Classic Console Neue';
	font-size: 20px;
	line-height: 28px;

	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;

	&_message {
		display: flex;
		flex-direction: row;
		gap: 8px;
	}
}

.bootlaunch {
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	padding: 24px;
	cursor: none;

	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&_logo {
		margin-bottom: 112px;
	}

	&_otherlogo {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: 60px;
		margin-bottom: 60px;

		img {
			height: 25px;
		}
	}
}

.operating-system {
	height: 100%;
	width: 100%;
	position: absolute;
	font-family: 'PX Sans Nouveaux';
	image-rendering: crisp-edges;
	overflow: hidden;

	&_desktop {
		height: 100%;
		width: 100%;
		background-image: url('/System/ImportantFiles/Shell/Themes/9x/Wallpapers/wallpaper-blue.png');
		background-repeat: no-repeat;
		background-size: cover;
		// z-index: -50;
	}

	&_desktop-programs {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}

.fade-overlay {
	background-color: black;
	height: 100%;
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;

	z-index: 50;
}

.window {
	&_iframe {
		width: 100%;
		height: 100%;

		background-color: white;

		&_disable {
			pointer-events: none;
		}
	}
}
